.header {
    display: flex;
     box-sizing: border-box;
     background-color: $while-color;
     color: $first-color;
     font-weight: 500;
     font-size: 14px;
     border-bottom: solid 1px $border-color;
 }
 